.header {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 0 auto;
  font-size: 24px;
  @include block-light;
}

.head-link {
  @include block-light;
  border: 1px solid $font-color;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: $bg;
  }
}
