.updateTask_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  input {
    border: $font-color 1px solid;
    border-radius: 5px;
  }
}

.mainBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mainInfo {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.addInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  width: 50%;
  row-gap: 10px;
  overflow-y: scroll;
  max-height: 30vh;
  background-color: #fff;
}
