@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';
@import '../components/header/header.scss';
@import '../components/layout/layout.scss';
@import '../components/footer/footer.scss';
@import '../pages/tasks/tasks.scss';
@import '../components/taskList/taskList.scss';
@import '../components/modalWrapper/modalWrapper.scss';
@import '../components/modalWrapper/createNewTask/createNewTask.scss';
@import '../components/modalWrapper/createNewList/createNewList.scss';
@import '../components/taskList/task/updateTask/updateTask.scss';
@import '../components/comments/comments.scss';

* {
  color: $font-color;
}

body {
  background-color: $bg;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project {
  padding: 20px;
  font-size: 24px;
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $base-dark;
  }
}
